@import url(null.css);

body {
  padding-top: 50px;
  padding-left: 50px;
  text-align: center;
  font-size: 30px;
}
.block {
  position: relative;
  max-width: 200px;
}

.title::before {
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: blue;
  margin-right: 0.5em;
  position: absolute;
  top: 0.3rem;
  left: 2rem;
  align-items: center;
}
.title::after {
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: red;
  position: absolute;
  top: 0.3rem;
  left: 9.2rem;
  align-items: center;
}
